{% extends 'index.html' %}

{% block content %}

<div class="row">
    <div class="col-12 col-md-12 col-xl-12">
        <div class="card">
            <div class="card-header bg-dark text-white text-center">
              Login
            </div>
            <div class="card-body">
              {% include 'partials/messages.html' %}
              <form action="" method="POST">
                {% csrf_token %}
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="email" name="email" required>
                  <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating">
                  <input type="password" class="form-control" id="password" name="password" required>
                  <label for="floatingPassword">Password</label>
                </div>
              <button type="submit" class="btn btn-primary text-center mt-3 w-100">Submit</button>
            </form>
            </div>
          </div>
    </div>
</div>

{% endblock content %}